@import "tailwindcss";

@theme inline {
  --color-brand: #bf0909;
  --color-brand-dark: #990707;
  --color-brand-soft: #fdf2f2;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-size: 14px;
  background: #ffffff;
  color: #171717;
}
